# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
env/
*.sqlite3

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET
bin/
obj/
*.user
*.suo
*.csproj.user

# Docker
*.log
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
crash.log
override.tf
override.tf.json
*.auto.tfvars

# OS / Editor / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.bak
*.tmp

# Logs
*.log

# Secrets (if any)
.env.local
.env.production
.env.development

dotnet-runtime-8.0.pkg
